{% extends parent_template|default:"base.html" %}

{% block title %}
    {{ block.super }} - Login Page
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        {{ field.errors }}
        <p>{{ field.label_tag }} {{ field }}</p>
        {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    {% endfor %}
    <button type="submit">Login</button>
    </form>
{% endblock content %}
