{% extends parent_template|default:'base.html' %}

{% block title %}
    {{ block.super }} - LogOut
{% endblock title %}

{% block content %}
    <p>You have successfully logged out. To login agian click <a href="{% url 'login' %}">here</a></p>
{% endblock content %}