
{% extends parent_template|default:'base.html' %}

{% block title %}
    {{ block.super }} - SignUp
{% endblock title %}

{% block content %}
    <h2>SignUp Form</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for form in forms.values %}
            {% for field in form %}
                {{ field.errors }}
                <p>{{ field.label_tag }} {{ field }}</p>
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <button type="submit">SignUp</button>
    </form>
{% endblock content %}