{% extends parent_template|default:'base.html' %}

{% block title %}
    {{ block.super }} - Update Restaurant
{% endblock title %}

{% block content %}
    <h3>Update Restaurant Information</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for form in forms.values %}
            {% for field in form %}
                {{ field.errors }}
                <p>{{ field.label_tag }} {{ field }}</p>
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {%endif %}
            {% endfor %}
        {% endfor %}
        <button type="submit">Update</button>
    </form>
{% endblock content %}