{% extends parent_template|default:'base.html' %}

{% block title %}
    {{ block.super }} - {% if update %}Edit{% else %}Add{% endif %} Meal
{% endblock title %}

{% block content %}
    {% if update %}
        <h3>Edit Meal</h3>
    {% else %}
        <h3>Add Meal</h3>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {{ field.errors }}
            <p>{{ field.label_tag }} {{field}}</p>
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        {% endfor %}
        <button type="submit">{% if update %}Edit{% else %}Add{% endif %} Meal</button>
    </form>
{% endblock content %}