{% extends parent_template|default:'base.html' %}

{% block title %}
    {{ block.super }} - Meals
{% endblock title %}

{% block content %}
    <h3>Meals</h3>
    <button><a href="{% url 'restaurant-meal-add' %}">Add Meal</a></button>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Short Description</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for meal in meals %}
                <tr>
                    <td>{{meal.id}}</td>
                    <td><a href="{% url 'restaurant-meal-edit' meal.id %}">{{meal.name}}</a></td>
                    <td>{{meal.short_description}}</td>
                    <td>{{meal.price}}</td>
                    <td><img src="{{ MEDIA_URL }}{{meal.image}}" alt="{{meal.name }} image" width="50" height="50"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock content %}