{% extends parent_template|default:'base.html' %}

{% block title %}
    {{ block.super }} - Orders
{% endblock title %}

{% block content %}
    <h3>Orders</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Order Details</th>
                <th>Customer</th>
                <th>Driver</th>
                <th>Total</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>
                        {% for item in order.item_details.all %}
                            {{ item.meal.name }} {{ item.meal.price }} x {{ item.quantity }} = Rs.{{ item.sub_total }}
                        {% endfor %}
                    </td>
                    <td>{{ order.customer }}</td>
                    <td>{{ order.driver }}</td>
                    <td>{{ order.total }}</td>
                    <td>
                        {% if order.status == 1 %}
                            Pending
                        {% else %}
                            {{ order.get_status_display }}
                        {% endif %}
                    </td>
                    <td>
                        {% if order.status == 1 or order.status == 2 %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ order.id }}">
                                <button type="submit">Update</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}