<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Food Tasker{% endblock title %}</title>
</head>
<body>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>