{% extends parent_template|default:"base.html" %}

{% block title %}
    {{ block.super }} - Home Page
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
    <h4>{{ data }}</h4>
    <a href="{% url 'logout' %}">LogOut</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a> <br>
        <a href="{% url 'restaurant-signup' %}">SignUp</a>
    {% endif %}
{% endblock content %}